
<div class="jumbotron white">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <%= image_tag 'Theta_xi_crest67.jpg', class: "img-responsive"%>
            </div>
            <div class="col-md-10">
                <h1>Welcome to GTTX.org</h1>
            </div>
        </div>
        <div class="row">
        <p>Site under construction!</p>
    </div>
    </div>
</div>