
<div class="jumbotron white">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>Theta Xi</h1>
                <h2>Beta Alpha Chapter</h2>
<p>As the only Christian Fraternity on Georgia Tech's campus, Theta Xi presents a unique opportunity for Christian, college men. Joining Theta Xi means that you become a part of a brotherhood that emphasizes academic achievement, athletic success and improvement, strong social ties, and spiritual growth.</p>

<p>We share a common bond in our love for our Lord and Savior, Jesus Christ. Beta Alpha men are Christian leaders both on and off the Georgia Tech campus. We serve through our philanthropic events, local ministries, and just our day-to-day relationships with other people. We strive to honor Christ in all that we do. Your brothers are always available to help you with advice, discipleship, and accountability to help you in your walk with Christ. Theta Xi will inevitably help you become a stronger Christian and a better man.</p>
            </div>
            <div class="col-md-6">
                <%= image_tag 'Theta_xi_crest67.jpg', class: "img-responsive"%>
            </div>
        </div>
        <div class="row">
        
        </div>
    </div>
</div>